<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Investment Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="../Content/Site.css">
</head>
<body style="padding:0px 0px 0px 0px" class="">
    <div class="topnav">
        <a style="margin:0px;" class="underline-effect size-header" href="index.html">Investment Project</a>
        <a style="float: right; color:grey" href="">Qikun Liu & Tyler Tran, 4th Block Economics</a>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col">
                <h6 style="text-align: center">Start Young</h6>
                <p>
                    The best investors don't need a lot of money (although that does help): they need time. Starting young is essential for a number of reasons. You can take more risks when in your youth, as you have time to recover from any poor ones. You will develop better spending habitats throughout your life time by watching how you use your money. But most importantly, being young maximizes the effectiveness of compound interests. With each return you are making more money. The longer you have that money in your savings the more money you will accrue. Eventually in the long run, you made more with less money than you would by starting later with more money.
                </p>
            </div>
            <div class="col">
                <h6 style="text-align: center">Risk & Return</h6>
                <p>
                    The key concept to investing is Risk & Return: the relationship of the amount of revenue gained and amount of risk taken on any investment. Investments with lower return rates make up for it by being stable for the long term. By being safe, these investments have more smaller returns than less larger returns. More risky investments, however, have to entice investors with higher return rates. Due to the higher chance of underperformance or loss of capital, these investments have to have larger returns. Therefore, the higher the risk, the higher the return. The lower the risk, the lower the return.
                </p>
            </div>
            <div class="col">
                <h6 style="text-align: center">Diversify</h6>
                <p>
                    Make sure to diversify your portfolio! It's very important to invest into many different types of investments, as every investment has its own risks and rewards. The events that could make investment successful may be detrimental to another. By having multiple varying investments, no one event should negatively affect all your assets. Diversification minimizes the volatility and risks of investments while keeping capital gain steady. That being said, make sure to invest in only what you understand and are comfortable with. In short, diversifying your portfolio will better balance the risk and return of your assets and investments. 
                </p>
            </div>
        </div>
    </div>
    <hr />
    <div>
        <div id="app">
            <div>How much money will you need for retirement?</div><br />
            <div>please enter your target income: </div>
            <input type="number" v-model="income" /><br />
            <button v-on:click="calcRetire">Calculate</button><br />
            You will need about ${{resultRetire}} for your retirement<br />
            <br />
            <br />
            <br />
            <div>How many years will it take to double up your principle?</div>
            <div>Please enter your annual percentage growth rate: </div>
            <input type="number" v-model="interest" />
            <button v-on:click="calcDouble">Calculate</button><br />
            You will need about {{resultDouble}} years for the principle to double its value
            <br />
            <br />
            <br />
            <div>What percentage of your investments should be buying stocks?</div>
            <div>Please enter your age:</div>
            <input type="number" v-model="age" />
            <button v-on:click="calcPercent">Calculate</button><br />
            {{resultPercent}} % of your investment should be buying stocks
            <br />
            <br />
            <br />
            <div>What will the future value be for your investment?</div>
            <div>Present Value: <input type="number" v-model="pv" /></div>
            <div>Interest Rate: <input type="number" v-model="ir" /></div>
            <div># of years in investment: <input type="number" v-model="yi" /></div>
            <button v-on:click="calcInvest">Calculate</button><br />
            The future value of this investment will be ${{resultInvest}}
        </div>
    </div>
    <hr />
    <div>
        6.) What are the types of inevestments? (certificates of deposit, common stocks, preferred stock, corporate bonds, federal government bonds, muncipal bonds and mutual funds (Money Market, Mutual Fund, Income Fund, Growth and Uncome Fund, and Growth fund)) For each investment you must address the following:<br />
        a.) What are the characteristics of the invesment? (Definition, denomination, risk, dividend or interest payment, insured or non-insured)<br />
        b.) What are the positive features about the investment?<br />
        c.) What are the negative features of the investment? <br />
        d.) Who is this investment suited to? (Age, income level, particular circumstance)<br />
        e.) How much of a return on investment is this investment currently paying? How much has it historically paid since 1960? (Look this up!)
        <table class="table table-bordered" style="text-align: center; margin: auto">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col"> Types of Investments</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="table-cell" href="cd.html">Certificates of Deposit</td>
                    <td class="table-cell" href="commonStock.html">Commmon Stocks</td>
                    <td class="table-cell" href="preferredStock.html">Preferred Stocks</td>
                </tr>
                <tr>
                    <td class="table-cell" href="corporateBonds.html">Corporate Bonds</td>
                    <td class="table-cell" href="fedGovBonds.html">Federal Government Bonds</td>
                    <td class="table-cell" href="municipalBonds.html">Municipal Bonds</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="table-cell" href="mutualFunds.html">Mutual Funds
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr />
    <div>
        7.) What were the significant days in the history of stock markets from 1900s to the present?
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="container col-lg-10" style="border:solid">
                8.) Include fun, different, interesting, and offbeat stock market terms, mesaurements, and events (ie. Bull market, bear market, Superbowl Index, Shirt hemline index, etc.)
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-1 offset-9">
                <button type="button" class="btn">
                    Previous
                </button>
            </div>
            <div type="button "class="col-sm-1">
                <button class="btn">
                    Next
                </button>
            </div>
        </div>
    </div>
    <hr />
</body>
</html>
<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            income: "",
            resultRetire: "",
            interest: "",
            resultDouble: "",
            age: "",
            resultPercent: "",
            pv: "",
            ir: "",
            yi: "",
            resultInvest: ""
        },
        methods: {
            calcRetire: function () {
                this.resultRetire = this.income * 8;
            },
            calcDouble: function () {
                this.resultDouble = 70 / this.interest;
            },
            calcPercent: function () {
                this.resultPercent = 100 - this.age;
            },
            calcInvest: function () {
                this.resultInvest = this.pv * Math.pow((1 + this.ir / 100), this.yi);
            }
        }
    });
</script>
