<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Investment Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="../Content/Site.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        * {
            box-sizing: border-box
        }

        .slideshow-container {
            position: relative;
            background: #f1f1f1;
        }

        .mySlides {
            display: none;
            padding: 80px;
            text-align: center;
        }

        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -30px;
            padding: 16px;
            color: #888;
            font-weight: bold;
            font-size: 20px;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }

        .next {
            position: absolute;
            right: 0;
            border-radius: 3px 0 0 3px;
        }

            .prev:hover, .next:hover {
                background-color: #888;
                color: white;
            }

        .dot-container {
            text-align: center;
            padding: 20px;
            background: #ddd;
        }

        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

            .active, .dot:hover {
                background-color: #717171;
            }

        q {
            font-style: italic;
        }

        .author {
            color: cornflowerblue;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }

        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            width: 80%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s
        }

        @-webkit-keyframes animatetop {
            from {
                top: -300px;
                opacity: 0
            }

            to {
                top: 0;
                opacity: 1
            }
        }

        @keyframes animatetop {
            from {
                top: -300px;
                opacity: 0
            }

            to {
                top: 0;
                opacity: 1
            }
        }

        .close {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

        .modal-header {
            padding: 2px 16px;
            background-color: #888;
            color: white;
        }

        .modal-body {
            padding: 2px 16px;
        }
    </style>
</head>
<body style="padding:0px 0px 0px 0px" class="">
    <div class="topnav">
        <a style="margin:0px;" class="underline-effect size-header" href="index.html">Investment Project</a>
        <a style="float: right; color:grey" href="sources.html">Qikun Liu & Tyler Tran, 4th Block Economics</a>
    </div>
    <hr />
    <div class="container">
        <h3 class="col-lg-4 offset-4" style="text-align: center">The Basics to Investing</h3>
        <br />
        <div class="row">
            <div class="col">
                <h6 style="text-align: center">Start Young</h6>
                <p>
                    The best investors don't need a lot of money (although that does help): they need time. Starting young is essential for a number of reasons. You can take more risks when in your youth, as you have time to recover from any poor ones. You will develop better spending habitats throughout your life time by watching how you use your money. But most importantly, being young maximizes the effectiveness of compound interests. With each return you are making more money. The longer you have that money in your savings the more money you will accrue. Eventually in the long run, you make more with less money than you would if you start late.
                </p>
            </div>
            <div class="col">
                <h6 style="text-align: center">Risk & Return</h6>
                <p>
                    The key concept to investing is Risk & Return: the relationship of the amount of revenue gained and amount of risk taken on any investment. Investments with lower return rates make up for it by being stable for the long term. By being safe, these investments have smaller returns than others. More risky investments, however, have to entice investors with higher return rates. Due to the higher chance of underperformance or loss of capital, these investments have to have larger returns. Therefore, the higher the risk, the higher the return. The lower the risk, the lower the return.
                </p>
            </div>
            <div class="col">
                <h6 style="text-align: center">Diversify</h6>
                <p>
                    Make sure to diversify your portfolio! It's very important to invest into many different types of investments, as every investment has its own risks and rewards. The events that could make one investment successful may be detrimental to another. By having multiple varying investments, no one event should negatively affect all your assets. Diversification minimizes the volatility and risks of investments while keeping capital gain steady. That being said, make sure to invest in only what you understand and are comfortable with. In short, diversifying your portfolio will better balance the risk and return of your assets and investments.
                </p>
            </div>
        </div>
    </div>
    <hr />
    <div id="app" class="container">
        <div class="row" style="padding-bottom:75px">
            <div class="col-md-6">
                How much money will you need for retirement?<br />
                <div style="padding-bottom:10px"><input class="inputBox1 form-input" type="number" v-model="income" placeholder="Please enter your target annual income here" /><br /></div>
                <button class="hbutton primary-font color-gray hoverHide" v-on:click="calcRetire">Calculate</button><br />
                <div id="showRetire" style="visibility:hidden">
                    You will need about ${{resultRetire}} for your retirement<br />
                </div>
            </div>
            <div class="col-md-6">
                How many years will it take to double up your principle?<br />
                <div style="padding-bottom:10px"><input class="inputBox1 form-input" type="number" v-model="interest" placeholder="Please enter your annual percentage growth rate here" /></div>
                <button class="hbutton primary-font color-gray hoverHide" v-on:click="calcDouble">Calculate</button><br />
                <div id="showDouble" style="visibility:hidden">
                    It will take about {{resultDouble}} years for the principle to double its value
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom:75px">
            <div class="col-md-6">

                <div>What percentage of your investments should be buying stocks?</div>
                <div style="padding-bottom:10px"> <input class="inputBox1 form-input" type="number" v-model="age" placeholder="Please enter your age here" /></div>
                <button class="hbutton primary-font color-gray hoverHide" v-on:click="calcPercent">Calculate</button><br />
                <div id="showPercent" style="visibility:hidden">
                    {{resultPercent}}% of your investment should be buying stocks
                </div>
            </div>
            <div class="col-md-6">
                <div>What will the future value be for your investment?</div>
                <div style="padding-bottom:10px"> <input class="inputBox1 form-input" type="number" v-model="pv" placeholder="Please enter the present Value of the investment here" /></div>
                <div style="padding-bottom:10px"> <input class="inputBox1 form-input" type="number" v-model="ir" placeholder="Please enter the interest Rate of the investmentin % here" /></div>
                <div style="padding-bottom:10px"> <input class="inputBox1 form-input" type="number" v-model="yi" placeholder="Please enter the number of years of the investment here" /></div>
                <button class="hbutton primary-font color-gray hoverHide" v-on:click="calcInvest">Calculate</button><br />
                <div id="showInvest" style="visibility:hidden">
                    The future value of this investment will be ${{resultInvest}}
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="container">
        <table class="table table-bordered" style="text-align: center; margin: auto">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col"> Types of Investments</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="table-cell" onclick="location.href='cd.html'">Certificates of Deposit</td>
                    <td class="table-cell" onclick="location.href='commonStock.html'">Common Stocks</td>
                    <td class="table-cell" onclick="location.href='preferredStock.html'">Preferred Stocks</td>
                </tr>
                <tr>
                    <td class="table-cell" onclick="location.href='corporateBonds.html'">Corporate Bonds</td>
                    <td class="table-cell" onclick="location.href='fedGovBonds.html'">Federal Government Bonds</td>
                    <td class="table-cell" onclick="location.href='municipalBonds.html'">Municipal Bonds</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="table-cell" onclick="location.href='mutualFunds.html'">
                        Mutual Funds
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <hr />



        <div style="text-align:center"><h6>Find Out What Happened in These Years</h6></div>
        <br />
        <div id="myModal" class="modal">

            <div class="modal-content">
                <div class="modal-header">
                    <h2>October 1929</h2>
                    <span class="close">&times;</span>
                </div>
                <div class="modal-body">
                    <p>When homes and autos selling were doing extraordinary in the 1920s, investors started borrowing more money than they could afford to purchase more stocks. And when the market went done, those investors can't pay for the huge amount of debt, and slid into bankruptcy. On the fourth day of the crash, the stock market fell 12.92%(also known as "Black Monday"). It lead to the Great Depression, and the stock market took 12 years to recover.</p>
                </div>
            </div>
        </div>



        <div id="myModal" class="modal">

            <div class="modal-content">
                <div class="modal-header">
                    <h2>October 19, 1987</h2>
                    <span class="close">&times;</span>
                </div>
                <div class="modal-body">
                    <p>As technology began to play a role in the stock market, people started to trade more and more frequently. Companies started leveraging questionable financing tools, share prices dropped heavily. On October 19, 1987; as more investors sold, more investors panicked and sold aggressively. This lead to a a 23% lose of the stock market's value in one day, broke the record of the highest stock market drop in one day. It took another 12 years for the stock market to recover, and it is also known as "Black Monday the 2nd".</p>
                </div>
            </div>
        </div>

        <div id="myModal" class="modal">

            <div class="modal-content">
                <div class="modal-header">
                    <h2>1999-2000</h2>
                    <span class="close">&times;</span>
                </div>
                <div class="modal-body">
                    <p>Technology is again front and center. In the 1990s, "new economy" companies like AOL, Pets.com saw their share prices rise substantially. Only two years later, those dot.com companies fell out of favor as investors fled highly inflated tech stocks. Two years after that, their stock price went from $87 to under $1 per share. Some of them like Globe.com and Nasdaq fell from 50000 to just 1000 in one year. This was recovered after Wall Street began to rate those tech companies more accurately, and investors think more and be more comservative when they purchase stocks and funds. </p>
                </div>
            </div>
        </div>

        <div id="myModal" class="modal">

            <div class="modal-content">
                <div class="modal-header">
                    <h2>2008</h2>
                    <span class="close">&times;</span>
                </div>
                <div class="modal-body">
                    <p>In 2008, mortgage-backed securities got widespread. Those high-rating mortgage-backed security contains some really risky investments in housing. Since it was doing too well, house price started increasing constantly at a high rate. More and more people couldn't afford their home mortgages, so they stopped paying. This caused housing price to drop dramatically, and crashed the economy and the stock market since the "too big to fail" banks and companies were also bankrupted. This was recovered after the U.S.congress approved a massiv egovernment funding that secures and stabilizes the market. This is also known as "The Great Recession".</p>
                </div>
            </div>
        </div>

        <!-- Trigger/Open The Modal -->
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    </div>
                <div class="col-md-2">

                    <button class="myBtn hbutton primary-font color-gray hoverHide">1929</button>
                </div>

                <!-- The Modal -->
                <div id="myModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close">×</span>
                            <h2>Modal Header</h2>
                        </div>
                        <div class="modal-body">
                            <p>Some text in the Modal Body</p>
                            <p>Some other text...</p>
                        </div>
                    </div>

                </div>


                <!-- Trigger/Open The Modal -->
                <div class="col-md-2">

                    <button class="myBtn hbutton primary-font color-gray hoverHide">1987</button>
                </div>

                <!-- The Modal -->
                <div id="myModal2" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close">×</span>
                            <h2>Modal Header</h2>
                        </div>
                        <div class="modal-body">
                            <p>Some text in the Modal Body</p>
                            <p>Some other text...</p>
                        </div>
                    </div>

                </div>

                <!-- Trigger/Open The Modal -->
                <div class="col-md-2">
                    <button class="myBtn hbutton primary-font color-gray hoverHide">1999</button>
                </div>
                <!-- The Modal -->
                <div id="myModal3" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close">×</span>
                            <h2>Modal Header</h2>
                        </div>
                        <div class="modal-body">
                            <p>Some text in the Modal Body</p>
                            <p>Some other text...</p>
                        </div>
                    </div>

                </div>

                <!-- Trigger/Open The Modal -->
                <div class="col-md-2">
                    <button class="myBtn hbutton primary-font color-gray hoverHide">2008</button>
                    </div>
                    <!-- The Modal -->
                    <div id="myModal4" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="close">×</span>
                                <h2>Modal Header</h2>
                            </div>
                            <div class="modal-body">
                                <p>Some text in the Modal Body</p>
                                <p>Some other text...</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        <hr />
        <div class="slideshow-container">
            <div class="mySlides">
                <p class="author">Super Bowl Index</p>
                <q>A super bowl win for a team from the NFL foretells a decline in the stock market the coming year. </q>
            </div>

            <div class="mySlides">
                <p class="author">Bear Market</p>
                <q>The stock market being in a downward trend or a period of falling stock prices(or expected to) for several months or several years.</q>
            </div>

            <div class="mySlides">
                <p class="author">Bull Market</p>
                <q>The stock market being in a upward trend or a period of rising stock prices(or expected to) for several months or several years.</q>
            </div>

            <div class="mySlides">
                <p class="author">Blue Chip Stocks</p>
                <q>The stocks behind large, industry-leading companies.</q>
            </div>

            <div class="mySlides">
                <p class="author">Pink Sheet Stocks</p>
                <q>Refers to penny stocks, which are traded at $5 per share or less.</q>
            </div>

            <div class="mySlides">
                <p class="author">Volatility</p>
                <q>The price movements of a stock or the stock market as a whole.</q>
            </div>

            <div class="mySlides">
                <p class="author">Bid-Ask Spread</p>
                <q>The difference between what peple have to spend and what people want to get.</q>
            </div>

            <div class="mySlides">
                <p class="author">Beta</p>
                <q>A measurement of the relationship between the price of a stock and the movement of the whole market. </q>
            </div>

            <div class="mySlides">
                <p class="author">Forex</p>
                <q>Stands for foreign exchange, involves trading different curencies.</q>
            </div>

            <div class="mySlides">
                <p class="author">Haircut</p>
                <q>An extremely thin spread between the bid and ask prices of a given stock.</q>
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <div class="dot-container">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
            <span class="dot" onclick="currentSlide(6)"></span>
            <span class="dot" onclick="currentSlide(7)"></span>
            <span class="dot" onclick="currentSlide(8)"></span>
            <span class="dot" onclick="currentSlide(9)"></span>
            <span class="dot" onclick="currentSlide(10)"></span>
        </div>
    </div>
    <hr />
</body>
</html>
<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            income: "",
            resultRetire: "",
            interest: "",
            resultDouble: "",
            age: "",
            resultPercent: "",
            pv: "",
            ir: "",
            yi: "",
            resultInvest: ""
        },
        methods: {
            calcRetire: function () {
                this.resultRetire = (this.income * 8).toFixed();
                var x = document.getElementById("showRetire");
                x.style.visibility = "visible";
            },
            calcDouble: function () {
                this.resultDouble = (70 / this.interest).toFixed();
                var x = document.getElementById("showDouble");
                x.style.visibility = "visible";
            },
            calcPercent: function () {
                if (this.age <= 0) {
                    this.resultPercent = 100;
                } else if (this.age >= 100) {
                    this.resultPercent = 0;
                } else {
                this.resultPercent = (100 - this.age).toFixed();
                }
                var x = document.getElementById("showPercent");
                x.style.visibility = "visible";
            },
            calcInvest: function () {
                this.resultInvest = (this.pv * Math.pow((1 + this.ir / 100.00), this.yi)).toFixed();
                var x = document.getElementById("showInvest");
                x.style.visibility = "visible";
            }
        }
    });
</script>
<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>
<script>
    // Get the modal
    var modal = document.getElementsByClassName('modal');

    // Get the button that opens the modal
    var btn = document.getElementsByClassName("myBtn");


    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close");

    // When the user clicks the button, open the modal 
    btn[0].onclick = function () {
        modal[0].style.display = "block";
    }

    btn[1].onclick = function () {
        modal[1].style.display = "block";
    }

    btn[2].onclick = function () {
        modal[2].style.display = "block";
    }

    btn[3].onclick = function () {
        modal[3].style.display = "block";
    }
    // When the user clicks on <span> (x), close the modal
    span[0].onclick = function () {
        modal[0].style.display = "none";
    }

    span[1].onclick = function () {
        modal[1].style.display = "none";
    }

    span[2].onclick = function () {
        modal[2].style.display = "none";
    }

    span[3].onclick = function () {
        modal[3].style.display = "none";
    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>