
/*GENERAL*/

body {
    padding-top: 70px;
    padding-bottom: 30px;
}

placeholder {
    color: #888888;
}

.primary-font {
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 1px;
}

.secondary-font {
    font-family: "Montserrat", sans-serif;
}

.font-bold {
    font-weight: bold;
}

.color-blue {
    color: #1F3B5B; /*Previously #1E6397*/
}

.color-red {
    color: #AE1917;
}

.color-gray {
    color: #333745;
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.color-danger {
    color: red;
}

.size-header {
    font-size: 36px;
}

.size-subheader {
    font-size: 24px;
}

.size-midheader {
    font-size: 18px;
}

.size-body {
    font-size: 12px;
}

.hover-pointer:hover {
    cursor: pointer;
}

.row-spacing-lg {
    padding-bottom: 20px;
}

.row-spacing-md {
    padding-bottom: 15px;
}

.row-spacing-sm {
    padding-bottom: 10px;
}

.row-spacing-xs {
    padding-bottom: 5px;
}

.right-spacing-lg {
    margin-right: 20px;
}

.right-spacing-md {
    margin-right: 15px;
}

.right-spacing-sm {
    margin-right: 10px;
}

.right-spacing-xs {
    margin-right: 5px;
}

.left-spacing-lg {
    margin-left: 20px;
}

.left-spacing-md {
    margin-left: 15px;
}

.left-spacing-sm {
    margin-left: 10px;
}

.left-spacing-lg {
    margin-left: 5px;
}

.remove_decoration ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.info_separate {
    padding: 2px 5px 2px 5px;
    border-left: solid;
    border-width: 1px;
}

.white-space {
    white-space: pre-wrap;
}

}

/*BUTTONS*/

.hbutton { /*Does not have border, color, or font*/
    transition: .25s ease-in-out;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    width: 120px;
    height: 40px;
    outline: none;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    cursor: pointer !important;
    text-decoration: none !important;
}

    .hbutton.color-blue {
        border: 1px solid #1F3B5B;
    }

        .hbutton.color-blue:hover {
            background-color: #1F3B5B;
            color: white;
        }

    .hbutton.color-red {
        border: 1px solid #AE1917;
    }

        .hbutton.color-red:hover {
            background-color: #AE1917;
            color: white;
        }

    .hbutton.primary-font {
        letter-spacing: 0px;
        font-weight: normal;
    }

.expanding-button {
    opacity: 0;
    height: 0;
    transform: scale(0,1);
    transition: ease-in-out .3s;
}

.table-row:hover .expanding-button {
    transform: scale(1);
    height: 40px;
    opacity: 1;
}





/*FORMS*/

input, select, textarea {
    outline: none;
    color: #333333; /*Dark gray*/
    border-radius: 3px;
    border: solid;
    border-width: 1px;
    text-decoration: none;
    padding-left: 10px; /*Moves text inside input box*/
}

.form-input {
    width: 100%;
}




/*TABLES*/

.table-head {
    font-size: 16px;
    background-color: #13293d;
    letter-spacing: 2px;
}

.table-row {
    height: 25px;
}

    .table-row:hover {
        color: black;
        background-color: #f5f5f5;
        cursor: pointer;
    }





/*NAVBAR*/
.underline-effect {
    padding-bottom: 0px;
    line-height: 2px;
    padding-top: 25px;
}

.underline-effect:after {
    content: '';
    margin: auto;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 2px solid;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
    position: inherit;
    top: -7px;
}

.underline-effect:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.topnav {
    background-color: #333;
    overflow: hidden;
    margin: 0px;
}

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }
/*SIDEBARS*/
.userEmail__subHead {
    opacity: .8;
    font-size: 18px;
}

.sidebar {
    width: 20%;
    height: 100vh;
    float: left;
    position: fixed;
    margin: 0 !important;
}

#user__partial {
    height: 100% !important;
}

.user__col {
    height: 100vh;
    padding: 0 !important;
}

.sidebar__hr {
    width: 75%;
}

.sidebar--userBlue {
    background-color: #1F3B5B;
}



.container__user {
    margin: 0 !important;
    padding: 0 !important;
    height: 100vh;
}

.sidebar__link {
    padding: 0;
    align-content: center;
    width: 100%;
    opacity: .7;
}

    .sidebar__link:hover {
        background-color: rgba(100,100,100,0) !important;
        text-decoration: none !important;
        color: white;
        opacity: 1;
    }

.sidebarLink__holder {
    align-content: center;
    text-align: center;
}

.sidebar__row {
    padding-bottom: 10%;
}

/*Autocomplete styling*/
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    width: 100%;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }

        .autocomplete-items div:hover {
            /*when hovering an item:*/
            background-color: #e9e9e9;
        }

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}
